{
  "parser": "babel-eslint",
  "extends": ["plugin:jsbox/default"],
  "plugins": ["react-hooks"],
  "env": {
    "node": true
  },
  "globals": {
    "JSBox": "writable"
  },
  "rules": {
    "semi": [2, "never"],
    "arrow-parens": 0,
    "global-require": 0,
    "no-underscore-dangle": 0,
    "no-param-reassign": 0,
    "import/prefer-default-export": 0,
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  }
}
