{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": "iOS 11"
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "useESModules": false
      }
    ]
  ]
}
